@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
body {
  overflow-x: hidden;
}

.pointer {
  cursor: pointer;
}

.heroGrad {
  background: linear-gradient(0deg, rgba(0, 7, 20, 0) 0%, #000714 89.93%);
}

.contactGradient {
  background: linear-gradient(180deg, #000817 0%, #060916 66.41%, #000817 100%);
}

.grad3 {
  background: linear-gradient(180deg, #f4d1b8 37.01%, #f6e8da 100%);
  height: 77px;
}

.f18 {
  font-size: 18px;
}

.f24 {
  font-size: 24px;
}

.f32 {
  font-size: 32px;
}

.f57 {
  font-size: 57px;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.robotof {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.whitef {
  color: #fffaf3;
}

.blackf {
  color: #000714;
}

.brownf {
  color: #524939;
}

.darkbluef {
  color: #051936;
}

.lightblackf {
  color: #1e1e1e;
}

.df {
  display: flex;
}

.jc {
  justify-content: center;
}

.je {
  justify-content: end;
}

.aic {
  align-items: center;
}

.aie {
  align-items: end;
}

.ais {
  align-items: start;
}

.h100 {
  height: 100%;
}

.hinhrt {
  height: inherit;
}

.header-hero {
  position: relative;
  z-index: 1;
}
.header-hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/hero/herobgGroup.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
  pointer-events: none;
}

header {
  z-index: 2;
  position: relative;
  background-color: #000714;
}
header::before {
  content: "";
  background: linear-gradient(0deg, rgba(0, 7, 20, 0) 0%, #000714 89.93%);
  z-index: -1;
  height: 417px;
  width: 100%;
  position: absolute;
}

.hero-section {
  align-items: flex-end;
  text-align: center;
  background-image: url("../assets/hero/herobg1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  z-index: 0;
}

.hero-content {
  height: 35%;
}

.btn1 {
  border-radius: 31px;
  border: 1px solid #4d4437;
  background: linear-gradient(180deg, #fffaed -27.17%, #fffffe 29.45%, #fffcf1 67.08%, #fbe6cf 100%);
  padding: 8px 16px;
}

.about-cloud {
  position: relative;
  z-index: 1;
}
.about-cloud::before {
  content: "";
  position: absolute;
  top: -191px;
  left: 0;
  width: 100%;
  height: 545px;
  background-image: url(/src/design/assets/hero/heroCloud.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  pointer-events: none;
}

.about-transition {
  background-image: url("../assets/aboutUs/aboutUst1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 135px;
  width: 100%;
  position: relative;
}

.about-grad {
  background: linear-gradient(1deg, #f5d2b9 37.01%, #f6e8da 100%);
}

.aboutbg {
  background-image: url("../assets/aboutUs/aboutbg.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  aspect-ratio: 16/9;
  width: 100%;
  position: relative;
}

.about {
  height: 100%;
}

.about-title {
  position: absolute;
  left: 50%;
  top: 41%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.about-wrapper {
  position: relative;
  height: 100%;
}

.aboutlayout {
  position: absolute;
  top: 63%;
}

.icon-wrapper {
  height: 100px;
  width: auto;
}
.icon-wrapperimg {
  height: 100%;
  width: 100%;
}

.about-bottom {
  background-image: url("../assets/aboutUs/about-bottom.png");
  height: 77px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services-ust {
  background-image: url("../assets/services/servicesUst.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 36/7;
  width: 100%;
}

.servicesbg {
  background-image: url("../assets/services/servicesBg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 13/8;
  width: 100%;
}/*# sourceMappingURL=index.css.map */