@import "./variables.scss";

.header-hero {
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/hero/herobgGroup.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
    pointer-events: none; //header pointer için
  }
}

header {
  z-index: 2;
  position: relative;
  background-color: #000714;
  &::before {
    content: "";
    background: linear-gradient(0deg, rgba(0, 7, 20, 0) 0%, #000714 89.93%);
    z-index: -1; //0 yap
    height: 417px;
    width: 100%;
    position: absolute;
  }
}

.hero-section {
  align-items: flex-end;
  text-align: center;
  background-image: url("../assets/hero/herobg1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  z-index: 0;
}

.hero-content {
  height: 35%;
}

.btn1 {
  border-radius: 31px;
  border: 1px solid #4d4437;
  background: linear-gradient(
    180deg,
    #fffaed -27.17%,
    #fffffe 29.45%,
    #fffcf1 67.08%,
    #fbe6cf 100%
  );
  padding: 8px 16px;
}

//about
.about-cloud {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: -191px;
    left: 0;
    width: 100%;
    height: 545px;
    background-image: url(/src/design/assets/hero/heroCloud.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    pointer-events: none;
  }
}

.about-transition {
  background-image: url("../assets/aboutUs/aboutUst1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 135px;
  width: 100%;
  position: relative;
}
.about-grad {
  background: linear-gradient(1deg, #f5d2b9 37.01%, #f6e8da 100%);
}

.aboutbg {
  background-image: url("../assets/aboutUs/aboutbg.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  aspect-ratio: 16 /9;
  width: 100%;
  position: relative;
}

.about {
  height: 100%;
}

.about-title {
  position: absolute;
  left: 50%;
  top: 41%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 57px;
  color: $white;
}

.about-wrapper {
  position: relative;
  height: 100%;
}

.aboutlayout {
  position: absolute;
  top: 63%;
}

.icon-wrapper {
  height: 100px;
  width: auto;
  &img {
    height: 100%;
    width: 100%;
  }
}

.about-bottom {
  background-image: url("../assets/aboutUs/about-bottom.png");
  height: 77px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//services
.services-ust {
  background-image: url("../assets/services/servicesUst.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 36 /7;
  width: 100%;
}
.servicesbg {
  background-image: url("../assets/services/servicesBg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 13 /8;
  width: 100%;
  position: relative;
}
.services-cont {
  position: absolute;
  height: 100%;
}
.services-mrgn {
  margin: 0px 250px;
  gap: 90px;
}

//contact
.contact {
  background-color: #070a18;
}
.contact-bg {
  background-image: url("../assets/contact/contactGorup.png");
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 16 /11;
  width: 100%;
  background-position: top;
  position: relative;
  z-index: 0;
  &::before {
    content: "";
    background: linear-gradient(180deg, #070a18 0%, #070a1700, #000817 100%);
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
.contact-form {
  background-image: url("../assets/contact/contactBgOrta.png");
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 16 / 13;
  width: 100%;
  background-position: center;
  position: relative;
  z-index: 1;
  margin: 27px 0px;
}
