@import "./variables.scss";

@media (max-width: 768px) {
  // header {
  //   background-image: url("../assets/mobil/mobilHeroUst.png");
  //   background-position: center;
  //   background-size: contain;
  //   height: 100%;
  // }
  .web-menu {
    display: none;
  }
}
.mobile-menu-icon {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}
.mobile-menu {
  display: flex;
  align-items: end;
  flex-direction: column;
  background-color: #000714;
  padding: 1rem;
  gap: 1rem;
  color: $white;

  @media (min-width: 769px) {
    display: none;
  }
}
.menu {
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    justify-content: end;
  }
}
.header-hero {
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/hero/herobgGroup.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
    pointer-events: none; //header pointer için
    @media (max-width: 768px) {
      height: 46%;
      top: 533px;
    }
  }
}

header {
  z-index: 2;
  position: relative;
  background-color: #000714;
  &::before {
    content: "";
    background: linear-gradient(0deg, rgba(0, 7, 20, 0) 0%, #000714 89.93%);
    z-index: -1; //0 yap
    height: 417px;
    width: 100%;
    position: absolute;
  }
  @media (max-width: 768px) {
    &::before {
      // display: none;
      background-image: url("../assets/mobil/mblHeroUst.png");
      background-position: left;
      background-size: contain;
      height: 100%;
      width: 100%;
    }
  }
}

.hero-section {
  align-items: flex-end;
  text-align: center;
  background-image: url("../assets/hero/herobg1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  position: relative;
  z-index: 0;
  // background: linear-gradient(180deg, #CAEBFE 16.88%, #DDFAFD 63.63%, #F2FFFD 83.45%, #F4FFFE 92.12%, #FAFFFE 100%);
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    background-image: none;
    height: 140vh;
  }
}
.hero-bg-ust,
.hero-bg-orta,
.hero-bg-alt {
  display: none;
  @media (max-width: 768px) {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    display: block;
  }
}
.hero-bg-ust {
  height: 396vh;
  background-image: url("../assets/mobil/mblHeroBgUst.png");
}

.hero-bg-orta {
  height: 260%;
  width: 100%;
  top: -2px;
  // background-image: url("../assets/mobil/mblHeroMaviGecis.png");
  position: relative;
  background: linear-gradient(
    180deg,
    #caebfe 16.88%,
    #ddfafd 63.63%,
    #f2fffd 83.45%,
    #f4fffe 92.12%,
    #fafffe 100%
  );
}

.hero-bg-alt {
  height: 191vh;
  top: 0px;
  position: relative;
  background-image: url("../assets/mobil/mblHeroBgAlt.png");
}

.hero-content {
  height: 35%;
  @media (max-width: 1200px) {
    height: 37%;
    width: 100%;
  }
  @media (max-width: 768px) {
    position: absolute;
    top: 71%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
  }
}

.btn1 {
  border-radius: 31px;
  border: 1px solid #4d4437;
  background: linear-gradient(
    180deg,
    #fffaed -27.17%,
    #fffffe 29.45%,
    #fffcf1 67.08%,
    #fbe6cf 100%
  );
  padding: 8px 16px;
  font-size: 24px;
  font-weight: 500;
  color: $brown;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

//about
.about-cloud {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: -191px;
    left: 0;
    width: 100%;
    height: 545px;
    background-image: url(/src/design/assets/hero/heroCloud.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    pointer-events: none;
    @media (max-width: 768px) {
      top: -69px;
      left: 0;
      height: 181px;
    }
  }
}

.about-transition {
  background-image: url("../assets/aboutUs/aboutUst1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 99px;
  width: 100%;
  position: relative;
  @media (max-width: 768px) {
    height: 53px;
  }
}
.about-grad {
  background: linear-gradient(1deg, #f5d2b9 37.01%, #f6e8da 100%);
}

.aboutbg {
  background-image: url("../assets/aboutUs/aboutbg.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  aspect-ratio: 16 /9;
  width: 100%;
  position: relative;
}

.about {
  height: 100%;
}

.about-title {
  position: absolute;
  left: 50%;
  top: 41%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 57px;
  color: $white;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.about-wrapper {
  position: relative;
  height: 100%;
}

.aboutlayout {
  position: absolute;
  top: 63%;
  display: flex;
  align-items: start;
  @media (max-width: 768px) {
    align-items: center;
    text-align: center;
  }
}

.icon-wrapper {
  height: 100px;
  width: auto;
  &img {
    height: 100%;
    width: 100%;
  }
}
// .about-content {
//   border-right: 1px solid #102233;
// }
.vertical-line-up {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -187px;
    transform: translateX(-50%);
    width: 2px;
    height: 184px;
    background-color: #102233;
    left: -6px;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.about-bottom {
  background-image: url("../assets/aboutUs/about-bottom.png");
  height: 77px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 1024px) {
    height: 195px;
  }
  @media (max-width: 768px) {
    background: linear-gradient(180deg, #f4d1b8 37.01%, #f6e8da 100%);
    height: 100vh;
    width: 100%;
  }
}

//services
.services-ust {
  background-image: url("../assets/services/servicesUst.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 36 /7;
  width: 100%;
  @media (max-width: 768px) {
    display: none;
  }
}
.servicesbg {
  background-image: url("../assets/services/servicesBg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 13 /8;
  width: 100%;
  position: relative;
  @media (max-width: 768px) {
    background-image: url("../assets/mobil/mblServicesGecis.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 13/22;
    width: 100%;
  }
}
.services-cont {
  position: absolute;
  height: 100%;
}
.services-mrgn {
  margin: 108px 250px;
  gap: 90px;
  @media (max-width: 768px) {
    margin: 337px 116px 0px 116px;
    gap: 180px;
  }
}
.software-text,
.consultancy-text {
  display: flex;
  justify-content: center;
  gap: 32px;
  @media (max-width: 768px) {
    text-align: center;
    margin-top: 88px;
  }
}

//contact
.contact {
  background-color: #070a18;
}
.contact-bg {
  background-image: url("../assets/contact/contactGorup.png");
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 16 /11;
  width: 100%;
  background-position: top;
  position: relative;
  z-index: 0;
  &::before {
    content: "";
    background: linear-gradient(180deg, #070a18 0%, #070a1700, #000817 100%);
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
.contact-form {
  background-image: url("../assets/contact/contactBgOrta.png");
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 16 / 13;
  width: 100%;
  background-position: center;
  position: relative;
  z-index: 1;
  margin: 27px 0px;
}

.contact-box {
  position: relative;
  background-image: url(/src/design/assets/contact/contactbox.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 77%;
  z-index: 2;
  margin: 415px 0px 0px 0px;

  // @media (min-width: 768px) and (max-width: 1024px) {
  //   margin: 301px 0px 0px 0px;
  // }

  @media (max-width: 768px) {
    margin: 221px 0px 0px 0px;
  }
}

.contact-row {
  width: 100%;
}
.input-border-out {
  background: #f2feff;
  border-radius: 41px;
  padding: 8px;
}
.input-border-in {
  border-radius: 41px;
  border: 1px solid #ae803c;
  background: #f2feff;
  display: flex;
  height: 28px;
  width: 100%;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

  input {
    position: absolute;
    height: 83%;
    width: 91%;
    border: none;
    background: #f2feff;
    outline: none;
    border-color: none;

    &::placeholder {
      color: #1e1e1e;
    }
  }
}
.input-border-text {
  border-radius: 41px;
  border: 1px solid #ae803c;
  background: #f2feff;
  display: flex;
  height: 150px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

  textarea {
    resize: none;
    outline: none;
    border: none;
    background: #f2feff;
    border-radius: 41px;
    padding: 10px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    &::placeholder {
      color: #1e1e1e;
    }
  }
}
.contact-send {
  border-radius: 31px;
  border: 1px solid #4d4437;
  background: linear-gradient(
    180deg,
    #fffaed -27.17%,
    #fffffe 29.45%,
    #fffcf1 67.08%,
    #fbe6cf 100%
  );
  padding: 16px 48px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: $brown;
  &:hover {
    background-color: #434190;
  }
}

//footer
.footer-bg {
  background-image: url("../assets/footer/footerBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 16 /8;
  width: 100%;
  background-position: top;
  position: relative;
  z-index: 0;
}

.footer-logo {
  background-image: url("../assets/footer/logoRenkli.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 160px;
  width: 100%;
  background-position: center;
  position: relative;
  z-index: 1;
  top: 30px;
}
.footer-logo2 {
  background-image: url("../assets/hero/dalosnetwork.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 100%;
  background-position: center;
  position: relative;
  z-index: 1;
  top: 40px;
}
.contact-adress {
  position: relative;
  z-index: 1;
  top: 90px;
  gap: 12px;
}
.dalos-info {
  font-weight: 300;
  top: 120px;
  position: relative;
}
